//
//  Config.xcconfig
//  CodeStack
//
//  Created by 박형환 on 2023/04/30.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


CODESTACK_URL_SCHEME = DFdfsfCODESTACKURLasdfasdkfjaks213fsdf


client_id = 19e5f44c22df5f6af06c
client_secret_git = f0e3ef6b56f6b31cd325c32672a51fd6519a7025
//    let teamID: String = "2JZ8QNS5D4"
//    let clientID: String = "kr.co.CodeStack-iOS"
//    let keyID: String = "45H5VDMJM9"
