<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Maplestory Bold.ttf</string>
		<string>Maplestory Light.ttf</string>
		<string>Maplestory OTF Light.otf</string>
		<string>Maplestory OTF Bold.otf</string>
		<string>KnightWarrior-w16n8.otf</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>appstore</string>
			<key>CFBundleURLName</key>
			<string>kr.co.codestack.ios.v2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codestackios</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CURRENT_PROJECT_VERSION</key>
	<string>20240302014</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>buildCount</key>
	<string>14</string>
	<key>buildDay</key>
	<string>20240302</string>
	<key>client_id</key>
	<string>$(client_id)</string>
	<key>client_secret_git</key>
	<string>$(client_secret_git)</string>
	<key>codestack_endpoint</key>
	<string>$(codestack_endpoint)</string>
	<key>fireStorage_project_path</key>
	<string>$(fireStorage_project_path)</string>
	<key>firebase_annony_auth_endpoint</key>
	<string>$(firebase_annony_auth_endpoint)</string>
	<key>firestorage_endpoint</key>
	<string>$(firestorage_endpoint)</string>
	<key>firestore_endpoint</key>
	<string>$(firestore_endpoint)</string>
	<key>firestore_project_path</key>
	<string>$(firestore_project_path)</string>
	<key>graphql_endpoint</key>
	<string>$(graphql_endpoint)</string>
	<key>judgezero_endpoint</key>
	<string>$(judgeZero_endpoint)</string>
</dict>
</plist>
